img{
    width: 10%;
    object-fit: contain;
}

.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px #e0dcdc;
}

ul{
    display: flex;
    
}

li{
    list-style: none;
    padding: 1px 20px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

